
@{
  Layout = "_Layout";
}

@model Patisserie.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): <span id="details-name" style="color: crimson;">@Html.DisplayFor(model => model.Name)</span></h3>

@if(@Model.JoinEntities.Count == 0)
{
    <p>There are currently no specific flavours associated with this treat.</p>
}
else
{
    <h4>Flavours current incorporated in this treat:</h4>
    <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{join.Flavour.Name}", "Details", "Flavours", new { id = join.Flavour.FlavourId })</li>
    }
    </ul> 
}

<div class="spaceyboi-badNamingConvention" style="height: 3vh;"></div>

<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back to Treats", "Index")</p>