@{
  Layout = "_Layout";
}

@model Patisserie.Models.Treat

<h4>Edit @Html.DisplayFor(model => model.Name) Treat</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.DropDownList("FlavourId")


  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Treats List", "Index")</p>