@{
  Layout = "_Layout";
}

@model Patisserie.Models.Flavour

<h4>Edit @Html.DisplayFor(model => model.Name) flavour</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavourId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)


  @Html.Label("Select treat to incorporate.")
  @Html.DropDownList("TreatId", (IEnumerable<SelectListItem>)ViewBag.TreatId, "Select Treat", new { @class = "form-control" })


  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Flavours", "Index")</p>