@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Register or Login</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>You've logged in as: @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }

    <p>@Html.ActionLink("Add a new flavour", "Create", "Flavours")</p>

}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>