@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
    <h3>You've logged in as: @User.Identity.Name!</h3>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
    
    <div class="spaceyboi-badNamingConvention" style="height: 3vh;"></div>

    <p>@Html.ActionLink("Home", "Index", "Home")</p>
    <p>@Html.ActionLink("Add a new flavour", "Create", "Flavours")</p>
    <p>@Html.ActionLink("Add a new treat", "Create", "Treats")</p>

}
else
{
    <h2>Register or Login</h2>
    <hr />

    <div class="spaceyboi-badNamingConvention" style="height: 3vh;"></div>
    
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
}
