@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text columnized">

      <h3>You've logged in as: @User.Identity.Name!</h3>

    </div>
    @* @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
     *@
    <div class="spaceyboi-badNamingConvention" style="height: 3vh;"></div>

    <button class="btn acc">@Html.ActionLink("Home", "Index", "Home")</button>
    <button class="btn acc">@Html.ActionLink("Add a new flavour", "Create", "Flavours")</button>
    <button class="btn acc">@Html.ActionLink("Add a new treat", "Create", "Treats")</button>

}
else
{
    <h2>Register or Login</h2>
    <hr />

    <div class="spaceyboi-badNamingConvention" style="height: 3vh;"></div>
    
    <button class="btn acc">@Html.ActionLink("Register", "Register")</button>
    <button class="btn acc">@Html.ActionLink("Log in", "Login")</button>
    <button class="btn acc">@Html.ActionLink("Home", "Index", "Home")</button>
}
