@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@{
    Layout = "_Layout";
}
@using Patisserie.Models;


@if (User.Identity.IsAuthenticated)
{
    <section class="log-off-section">
        <p>You're logged in as: @User.Identity.Name!</p>

        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-default" value="Log out" />
        }
    </section>

    <h2>View Flavours</h2>
    
    <ul>
        @foreach(Flavour flavour in ViewBag.Flavours)
        {
            <li>@Html.ActionLink($"{flavour.Name}", "Details", "Flavours", new { id = flavour.FlavourId })</li>
        }
    </ul>


    //create two side-by-side lists to view all flavours and treats together

    <p>@Html.ActionLink("Add a new flavour", "Create", "Flavours")</p>


}
else
{

    <h1>Please log-in or register to continue.</h1>

    <div class="spaceyboi-badNamingConvention" style="height: 3vh;"></div>

    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}
