@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@{
    Layout = "_Layout";
}
@using Patisserie.Models;


@if (User.Identity.IsAuthenticated)
{
    <section class="home-content">
        
        <div class="home-content-flavours">

            <ul><h2>View Flavours</h2>
                @foreach(Flavour flavour in ViewBag.Flavours)
                {
                    <li>@Html.ActionLink($"{flavour.Name}", "Details", "Flavours", new { id = flavour.FlavourId })</li>
                }
            </ul>

        </div>

        <div class="home-content-treats">

            <ul><h2>View Treats</h2>
                @foreach(Treat treat in ViewBag.Treats)
                {
                    <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</li>
                }
                
            </ul>

        </div>

    </section>

    <p>@Html.ActionLink("Add a new flavour", "Create", "Flavours")</p>
    <p>@Html.ActionLink("Add a new treat", "Create", "Treats")</p>

}
else
{

    <h1>Please log-in or register to continue.</h1>

    <div class="spaceyboi-badNamingConvention" style="height: 3vh;"></div>

    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
}
